:root {
        --black-color: #010409;
        --dark-gray-color: #21262d;
        --light-gray-color: #e6edf3;
        --dark-blue-color: #30363d;
        --medium-blue-color: #0c2d6b;
        --light-blue-color: #2f81f7;
        --bluish-gray-color: #b4bac0;
        --color-follow: #741515;
        --color-followers: #2f6416;
    }